.codeContainer
{display:block; margin-top: 100px;}
.singleProjectCard
{padding-top:auto;padding-bottom:auto; width:100%;}
.projectImage
{max-width:60vw;display:block;margin-top:auto;margin-bottom:auto;margin-left:auto;margin-right:auto}
.separator
{border-top:1px solid #ddd;width:80%}
.projectIcons
{display:grid;grid-template-rows:1fr 1fr}
.gitIcons
{text-align:right;font-family:"Roboto Slab",serif}
.singleProjectContainer
{width:100%;margin-left:auto;margin-right:auto}
.firstCommitDate
{text-align:right}
.qwerqwer
{margin-bottom:70px}
@media (max-width:1000px)
{.singleProjectCard
{display:block;margin-bottom:100px;width:100%;margin-left:auto;margin-right:auto}
.projectImage
{width:40vw;max-width:250px;box-shadow:1px 1px 1px 1px gray;border-radius:10px;margin-left:auto;margin-right:auto;margin-bottom:40px}
.projectIcons
{display:grid;grid-template-columns:1fr 2fr}
.projectText
{margin-top:10px}

.testTypeSelector1{
    display:grid;
    grid-template-columns: 1fr;
    width:100%;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
}

}
@media (min-width:1000px)
{.singleProjectCard
{display:grid;grid-template-columns:200px 1fr;margin-bottom:60px}
.projectImage
{width:180px;box-shadow:1px 1px 1px 1px gray;border-radius:10px;margin-left:0;margin-right:auto}
.projectIcons
{display:grid;grid-template-columns:1fr 2fr}
.projectText
{margin-top:10px}

.testTypeSelector1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:80%;;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
}

}
@media (min-width:1166px)
{.singleProjectCard
{display:grid;grid-template-columns:200px 1fr;margin-bottom:60px;width:100%;margin-left:auto;margin-right:auto}
.projectImage
{width:180px;margin-top:auto;margin-bottom:auto}
.projectText
{margin-top:10px}
}
@media (min-width:2300px)
{.projects
{display:grid;grid-template-columns:1fr 1fr}

.testTypeSelector1{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width:100%;
    margin-bottom:50px;
}

}

.singleProjectCard {
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    border: solid;
    border-color: gray;
    border-width: 0.1px;
    border-radius:10px;
}

.getSerial{
    width:50%;
}

.testSelectorItem{
    height:200px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:40px;
}

#quizgen{
    margin-bottom:100px;
}

.testSelectorGrid{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.itemSelectorBox{
    min-width:50px;
    margin-left:10px;
    margin-right:10px;
}

.quizGenerator .separator{
    width:30%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 100px;
    margin-top:100px;
}

.separ{
    display:grid;
    width: 350px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.itemSelectorBox{
    width:90%;
}

.setOkButton{
    margin-top:auto;
    margin-bottom:0;
}

.separ2{
    width: 400px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

TextField {
    margin-left:auto;
    margin-right:auto;
}

.quizPrintContainer {
    width:100%;
}

.quizHeader {
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}
.checkOptions{
    margin-left:auto;
    margin-right:auto;
}

.selectorForTestGen{
    margin-left:auto;
    margin-right:auto;
}

.ModalPrintPage{
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    background-color: white;
    overflow-y: auto;
    overflow-x: auto;
    border-radius:20px;
    z-index:1200;
    box-shadow: 0px 0px 60px gray;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:50px;
    padding-right:50px;
}

.insideModalField{
    max-width: 1245px;
    min-width: 941px;
    min-height: 1298px;
    border: solid;
    border-color: gray;
    border-width: 0.1px;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    color: black;
}

.buttonArrayGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    margin-left:auto;
    margin-right:0px;
}

.infoGrid{
    display:grid;
    grid-template-columns: 1fr 300px;
    max-width:1245px;
    min-width:941px;
    margin-left:auto;
    margin-right: auto;
    padding-top:auto;
    padding-bottom:auto;
}

.mdbutton{
    margin-right:0;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
}

p {
    margin-top: auto;
    margin-bottom: auto;
}

.linear_logo {
    width:200px;
    margin-top:auto;
    margin-bottom:auto;
}

.testHeaderGrid {
    display:grid;
    grid-template-columns: 200px 1fr 250px;
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
    font-size: 2em;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:100px;
}

.underline {
    text-decoration: underline 0.1px black;
}

.testTitle {
    font-size:2em;
    margin-top:auto;
    margin-bottom:auto;
}

.hubos{
    padding-left:50px;
}

.orderedTest{
    padding-left: 100px;
    font-size: 25px;
    font-weight: 0.1px;
}

.testText {
    padding-left:10px;
    margin-bottom:10px;
    top: 0px;
}

.singleQuiz{
    margin-bottom: 30px;
}