.countdown_3s div{
  margin-left:auto;
  margin-right:auto;
  align-items: center;

  justify-content: center;
}

.countdown_60s div{
  margin-left:auto;
  margin-right:auto;
  align-items: center;
  justify-content: center;
}

.countdown_60s {
  width: 60px;
  height: 60px;
  margin-right:0px;
  margin-top:0px;
  margin-left:auto;
}

CountdownCircleTimer{
  margin-left:auto;
  margin-right:auto;
}


.singleQuizSelectorModal{
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    background-color: white;
    border-radius:20px;
    z-index:1200;
    box-shadow: 0px 0px 60px gray;
    overflow:hidden;
    width:80vw;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    padding-top:20px;
}

.separ_single{
    display:grid;
    width: 90%;
    grid-template-rows: 1fr 1fr 1fr;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.separ2_single{
    width: 100%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.separ_single .itemSelectorBox {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
}

.buttonGridforModal {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:50%
    
}

h1 {
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 40px;
  }

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}

.fit_in{
  width:100%;
}

.singleQuiz_selfTest{
  margin-bottom:20px;
}

.hubos_vertical{
  margin-top:40px;
  font-size:5mm;
  display:grid;
  padding-left:10mm;
  grid-template-rows: 8mm 8mm 8mm 8mm;
}

.quizContainer {
  display:block; 
  margin-top: 10px; 
  width:90%; 
  margin-left:auto; 
  margin-right:auto;
  height: 60vh;
}

.quizHead{
  margin-bottom: 10mm;
}

.quizResultSummary {
  margin-top: 15mm;
}


.resultChartArea{
  width:80%;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  margin-bottom:50px;
}

@media (min-width:800px){
  .chartGrid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

  }
}

